---
export async function getStaticPaths() {
	const allPosts = await Astro.glob('../../content/blog/**/*.md');
	const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date));

	return sortedPosts.map((post) => {
		const pathParts = post.file.replace('/index.md', '').split('/');
		const slug = pathParts[pathParts.length - 1]
		console.log(slug)
		return {
			params: {
				slug
			},
			props: {
				post
			}
		}
	})
}

import Layout from '../../layouts/Default.astro';
import TableOfContents from '../../components/TableOfContents';
import RelatedPosts from '../../components/RelatedPosts.astro';
import Topper from '../../components/Topper.astro';

const { post } = Astro.props;
const { slug } = Astro.params;

const { title, description, tags, date, canonical_url } = post.frontmatter;
const permalink = `https://baldbeardedbuilder.com/blog/${slug}/`;

const canonicalUrl = canonical_url;

let headers = await post.getHeaders();
---

<Layout {title} {description} {permalink} {tags} {canonicalUrl}>
	<Topper>
		<h1>{ title }</h1>
	</Topper>
	<article class="post">
		<main>
			<aside>
				<TableOfContents {headers} client:load />
			</aside>
			<section class="content">
				<post.Content />
			</section>
		</main>
		<footer>
			<RelatedPosts post={post} />
		</footer>
	</article>
</Layout>
