---
export async function getStaticPaths() {
  
  const allPosts = Astro.fetchContent('../../content/blog/**/*.md');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));

  return sortedPosts.map((post) => {
    const pathParts = post.file.pathname.replace('/index.md', '').split('/');
    const slug = pathParts[pathParts.length - 1]
    return {
      params: {
        slug,
      },
      props: {
        post
      }
    }
  })
}

import { Markdown } from 'astro/components';
import Layout from '../../layouts/Default.astro';
import TableOfContents from '../../components/TableOfContents';
import BlogTopper from '../../components/BlogTopper.astro';

const { post } = Astro.props;
const slug = post.slug || 
             post.file.pathname.split('/')[post.file.pathname.split('/').length - 2];

let title = post.title;
let description = post.description;
let permalink = `https://baldbeardedbuilder.com/blog/${slug}/`;
let tags = post.tags;
let headers = post.content.headers;
---

<Layout {title} {description} {permalink} {tags}>
  <article class="post">
    <main>
      <aside>
        <TableOfContents {headers} />
      </aside>
      <section class="content">
        <BlogTopper post={post} />
        <Markdown content={post.content.source}/>
      </section>
    </main>
    <footer>
      <!-- <RelatedPosts :tags="post.tags" :slug="post.slug" /> -->
    </footer>
  </article>
</Layout>