---
import Avatars from "../Avatars.astro";

export interface Props {
  title: string;
  description: string;
  mentions: Array<any>;
  path: string | URL;
  image: string;
  displayQuantity: number;
}

const { title, description, mentions, path, image, displayQuantity, ...rest } =
  Astro.props as Props;

const bgImageUrl = `url('${image}')`;
---

<a href={path} {...rest}>
  <h3>{title}</h3>
  <p>{description}</p>
  <Avatars mentions={mentions} displayQuantity={displayQuantity} />
</a>

<style lang="scss">
  a {
    @apply flex flex-col gap-3;
    @apply border border-gray-100;
    @apply shadow-lg;
    @apply p-3;

    h3 {
      @apply font-worksans font-bold text-2xl;
    }
    p {
      @apply font-raleway text-base;
    }

    &:hover {
      @apply bg-darkBlueLighter;
    }
  }
</style>
