---
import Layout from '../layouts/Default.astro'
import Topper from '../components/Topper.astro';

let title = 'Report Code of Conduct Violations';
let description = 'Report a violation of our community code of conduct.';
let permalink = 'https://baldbeardedbuilder.com/report/';
let tags = ['code-of-conduct', 'inclusion', 'safety'];

---

<Layout {title} {description} {permalink} {tags}>
	<Topper>
		<h1>{title}</h1>
	</Topper>
  <article class="post">
    <main>
      <aside>
      </aside>
      <section class="content">
        <p>
					We take breaches of our Code of Conduct very seriously. If you have experienced
					or witnessed a breach by a memmber of our community, we're here for
					you.
				</p>

				<p>
					Please submit the form below with a description of the event(s).
					This information is confidential and is sent directly to Michael to
					review as quickly as possible.
				</p>

				<form
					name="coc-report"
					method="post"
					action="/thanks/"
					data-netlify="true"
					data-netlify-honeypot="bot-field"
				>
					<input type="hidden" name="form-name" value="coc-report" />
					<p hidden>
						<label> Don't fill this out: <input name="bot-field" /> </label>
					</p>

					<p>
						<label for="description"
							>Description of Event(s)<span class="required"
								>* required</span
							></label
						>
						<textarea
							id="description"
							rows="6"
							name="description"
							required
							placeholder="Describe the event(s) that occurred. Be sure to include the name of the person who violated the code of conduct."
						></textarea>
					</p>
					<p>
						If you would like someone to follow up with you, please complete
						the fields below.
						<strong>For your privacy, they are NOT required.</strong>
					</p>
					<p>
						<label for="name">Your Name</label>
						<input
							id="name"
							type="text"
							name="name"
							placeholder="Enter your name here"
						/>
					</p>
					<p>
						<label for="email">Your Email</label>
						<input
							id="email"
							type="text"
							name="email"
							placeholder="Enter your email address here"
						/>
					</p>
					<p>
						<button type="submit">Submit</button>
					</p>
				</form>
      </section>
    </main>
  </article>
</Layout>
