---
import WebMentions from "./WebMentions";

const { post } = Astro.props;
const slug = post.frontmatter.slug ||
	post.file.split('/')[post.file.split('/').length - 2];

const url = `https://baldbeardedbuilder.com/blog/${slug}/`;

const { title, summary } = post.frontmatter;
let { tags } = post.frontmatter;
tags = tags.slice(0, 3);
---

	<div class="card">
		<a href={`/blog/${slug}/`} title={title}>
			<main>
				<h3>{title}</h3>
				<p>{summary}</p>
			</main>
			<footer>
				<WebMentions client:visible url={url} displayQuantity={10} displayLink={true}/>
			</footer>
		</a>
	</div>