---
import { getWebMentions } from '../scripts/webmentions.js'
import Avatars from './Avatars.astro';
import ThumbsUp from "./icons/ThumbsUp.astro";

const { post } = Astro.props;
const slug = post.frontmatter.slug ||
	post.file.split('/')[post.file.split('/').length - 2];

const url = `https://baldbeardedbuilder.com/blog/${slug}/`;

const webMentions = await getWebMentions();
const mentions = webMentions.children.filter(entry => entry['wm-target'] === url)
								.filter(f => (f.author.photo || '').length > 0)
								.filter(f => (f.author.url || '') !== 'https://twitter.com/baldbeardbuild')
								.filter(f => (f.author.url || '') !== 'https://twitter.com/michaeljolley')

const { title, summary } = post.frontmatter;
let { tags } = post.frontmatter;
tags = tags.slice(0, 3);
---

	<div class="card">
		<a href={`/blog/${slug}/`} title={title}>
			<main>
				<h3>{title}</h3>
				<p>{summary}</p>
			</main>
			<footer>
				{
					mentions.length > 0 &&
					<p><ThumbsUp/> Likes, retweets, & replies</p>
				}
				<Avatars mentions={mentions} displayQuantity="10" />
			</footer>
		</a>
	</div>