---
import IconArrow from './icons/Arrow.astro';

const options = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
}

const {post} = Astro.props;
const slug = post.frontmatter.slug || 
             post.file.split('/')[post.file.split('/').length - 2];

const {title, summary, date} = post.frontmatter;
let { tags } = post.frontmatter;
tags = tags.slice(0, 3);
---

<div class="card">
	<ul class="tags">
		{ 
			tags.map((tag) => 
					<li>
						<a href={`/blog/tags/${tag}/`} title={`All posts with the ${tag} tag`}>#{tag}</a>
					</li>
			)
		}
	</ul>
	<a href={ `/blog/${slug}/` } title={ title }>
		<main>
			<h3>{ title }</h3>
			<p>{ summary }</p>
		</main>
		<footer>READ MORE <IconArrow /></footer>
	</a>
</div>