---
import Layout from "./Layout.astro";
import { getWebMentionsByTarget } from "../scripts/webmentions";
import Avatars from "../components/Avatars.astro";
import Share from "../components/Share.astro";
import ImageSrcSet from "../components/ImageSrcSet.astro";

const { url, frontmatter } = Astro.props;
const {
  title,
  description,
  tags,
  summary,
  image,
  image_alt,
  canonical_url: canonicalUrl,
} = frontmatter;

const mentions = await getWebMentionsByTarget(url);
---

<Layout {title} {description} {tags} {canonicalUrl}>
  <article class="blogpost">
    <section class="top-panel">
      <div>
        <h1>{title}</h1>
        <summary>{summary}</summary>
        <section>
          <aside>
            <Avatars
              mentions={mentions}
              displayMessage={true}
              displayQuantity={10}
              displayLink={true}
            />
          </aside>
          <aside><Share {title} {summary} {url} {tags} /></aside>
        </section>
      </div>
    </section>

    <section class="main">
      <ImageSrcSet filename={image} alt={image_alt} class="w-full" />
      <div class="prose sm:prose-sm md:prose-md lg:prose-lg xl:prose-xl">
        <slot />
      </div>
    </section>
  </article>
</Layout>
