---
import "../styles/main.scss";
import { apStyleTitleCase } from "ap-style-title-case";

export interface Props {
	title?: string;
	description?: string;
	tags?: string[];
  canonicalUrl?: string;
}

let { title, description, tags, canonicalUrl } = Astro.props;

title = title || "Michael Jolley is the Bald Bearded Builder";
description =
  description ||
  "Home of Michael Jolley, the bald bearded builder, this site contains a collection of all blog posts, YouTube videos, Twitch streams, conference talks and more that Michael has generated.";

const titleString = `/l_text:Cairo_56_bold_line_spacing_-45:${encodeURI(apStyleTitleCase(title))},g_north_west,x_65,y_255,w_900,c_fit,co_rgb:FFFFFF`;
const tagString = tags ? `/l_text:Cairo_24_regular_letter_spacing_4:${tags.map((t: string) => `%23${t.toLowerCase()}`).join('%20')},g_north_west,x_65,y_215,co_rgb:0AC2C2` : '';
const ograph = `https://res.cloudinary.com/dk3rdh3yo/image/upload/b_rgb:000${tagString}${titleString}/ograph-base.png`
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width,initial-scale=1,viewport-fit=cover"
/>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/mstile-150x150.png" />
<meta name="theme-color" content="#ffffff" />
<meta name="robots" content="index, follow" />
<meta rel="manifest" href="/site.webmanifest" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

{
  canonicalUrl &&
  <!-- Canonical link -->
  <link rel="canonical" href={canonicalUrl} />
}

<!-- Open Graph / Facebook -->
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ograph} />
<meta property="og:image:alt" content={description} />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="600" />

<!-- Twitter -->
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ograph} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content="@michaeljolley" />

<!-- Fonts & Images -->
<link rel="dns-prefetch" href="//res.cloudinary.com" />
<link rel="preconnect" href="https://res.cloudinary.com" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Work+Sans:wght@700&display=swap"
  rel="stylesheet"
/>

<!-- Feeds -->
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternative"
  type="application/rss+xml"
  href="/rss.xml"
  title="RSS"
/>

<!-- Web Mentions -->
<link
  rel="webmention"
  href="https://webmention.io/baldbeardedbuilder.com/webmention"
/>
<link
  rel="pingback"
  href="https://webmention.io/baldbeardedbuilder.com/xmlrpc"
/>
