---
import Icon from "./Icon.astro";

const { title, summary, tags, url } = Astro.props;
const permalink = `https://baldbeardedbuilder.com${url}`;
---

<section>
  <div class="container">
    <div><span>Share</span><Icon icon="ArrowDown" style="width:1rem;" /></div>
    <ul>
      <li>
        <a
          href={`https://twitter.com/intent/tweet?text=${title}&url=${permalink}&hashtags=${
            tags ? tags.join(",") : ""
          }&via=michaeljolley`}
          title="Share on Twitter"
          target="_blank"
          ><span>Twitter</span><Icon icon="Twitter" style="width:1rem;" />
        </a>
      </li>
      <li>
        <a
          href={`https://www.linkedin.com/sharing/share-offsite/?url=${permalink}`}
          title="Share on LinkedIn"
          target="_blank"
          ><span>LinkedIn</span><Icon icon="LinkedIn" style="width:1rem;" />
        </a>
      </li>
      <li>
        <a
          href={`https://www.facebook.com/sharer/sharer.php?u=${permalink}&title=${title}&description=${summary}&quote=${summary}&hashtag=%23${
            tags ? tags.join(",%23") : ""
          }`}
          title="Share on Facebook"
          target="_blank"
          ><span>Facebook</span><Icon icon="Facebook" style="width:1rem;" />
        </a>
      </li>
      <li>
        <a
          href={`https://www.reddit.com/submit?url=${permalink}&title=${title}`}
          title="Share on Reddit"
          target="_blank"
          ><span>Reddit</span><Icon icon="Reddit" style="width:1rem;" />
        </a>
      </li>
    </ul>
  </div>
</section>

<style lang="scss">
  section {
    @apply flex flex-col;

    .container {
      div {
        @apply flex justify-between items-center;
        @apply bg-neon text-darkGray;
        @apply px-5 py-3;
        @apply font-bold;
        @apply w-40;
        @apply cursor-pointer;
      }
      ul {
        @apply hidden flex-col;
        @apply absolute;

        li {
          @apply w-40;
          @apply bg-neonTransparent;
          @apply px-5 py-3;
          @apply font-bold;
          @apply border-x border-neon;

          &:last-child {
            @apply border-b;
          }

          &:hover {
            @apply bg-darkGray;
            a {
              @apply text-neon fill-neon;
            }
          }

          a {
            @apply flex justify-between items-center text-white fill-white;
          }
        }
      }
    }

    .container,
    ul {
      &:hover {
        ul {
          @apply flex;
        }
      }
    }
  }
</style>
