---
import Layout from './Default.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';


const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } = content;
---

<Layout {title} {description} {permalink} >
	<BlogHeader />
	<div class="wrapper">
		<BlogPost {title} {author} {heroImage} {publishDate} {alt}>
			<slot />
		</BlogPost>
	</div>
</Layout>